<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Hi <%= @user.name %> !!!</h1>
      <p>
   Your password reset link is<a href="<%= "http://localhost:8000/user/change_password/#{@user.reset_password_token}"%>">Click this link to reset your password
         </a>
      </p>

      <a href=""></a>


      
   </body>
</html>